body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.section_card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    max-width: 800px;
    border-radius: 10px;
    padding: 10px;
}
.section_card img{
    border: 1px solid #333 ;
    width: 450px;
    height: 550px;
}
.info_card{
    margin-left: 10px;
}
.header_info{
    font-size: 15pt;
    font-weight: 700;
    margin-top: 30px;
}
.header_info span{
    font-weight: 300;
}
.info_card p{
    font-size: 14pt;
}
