body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #fff;
    color: #333;
    line-height: 1.5;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
}
.first_img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.first_img img{
    width: 100%;
    height: 700px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.list_nav {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.list_nav li {
    list-style: none;
}

.list_nav a {
    text-decoration: none;
    color: #006400; /* темно-зеленый */
}

.cards {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    padding: 0.5rem;
    width: 30%;
    box-sizing: border-box;
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
}
